@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Noto+Sans+JP:wght@400;700&display=swap');

/*-------------------------------------------------------------
RESET DOM STYLE
-------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important;
}

a {
    display: inline-block;
}

div {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

/*-------------------------------------------------------------
COMMON
-------------------------------------------------------------*/

html {
    font-size: 62.5%;
}

body{
    font-family: "Noto Sans JP", "游ゴシック", YuGothic, Verdana, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    color:#333;
}

.webfont{
    font-family: 'Nothing You Could Do', cursive;
}

p {
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    line-height: 1.8;
}

a {
    color: #333;
    transition: all .3s;
}

a:hover{
    opacity: 0.7;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    a[href*="tel"] {
        pointer-events: auto;
    }
}

/* layout */

.container {
    position: relative;
    width: 100%;
    max-width: 1230px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.columns{
    display: flex;
}

.colum-layout-center{
    align-items: center;
}

.colum-layout-end{
    justify-content: space-between;
}

/* images */

.image{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.image-inline{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}


/*-------------------------------------------------------------
HEADER
-------------------------------------------------------------*/

#header{
    padding:100px 100px 90px;
    box-sizing: border-box;
    position: relative;
}

#header .ico-arrow{
    border:1px solid #333;
    border-radius: 50%;
    width: 100px;
    height:100px;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
}

#header .ico-arrow span {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 30px;
    width: 1px;
    display: block;
    background: #333;
    transform: translate(-50%,-50%);
}

#header .ico-arrow::before {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #333;
    position: absolute;
    bottom: 33px;
    left: 42px;
    transform: rotate(-45deg);
}

#header .ico-arrow::after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #333;
    position: absolute;
    bottom: 33px;
    right: 42px;
    transform: rotate(45deg);
}

/*----- main-visual -----*/

.main-visual__image{
    width: 50%;
    height: 900px;
    background: url(../image/mainvisual.jpg) no-repeat right top / 100% auto;
}

.main-visual__detail{
    position: absolute;
    width: 50%;
    left:40%;
    bottom:200px;
}

.main-visual__detail h1{
    font-size:80px;
    margin-bottom: 60px;
    font-weight: normal;
}

.main-visual__detail p {
    font-size: 14px;
    line-height: 2.5;
}

.main-visual__badge{
    margin-bottom: 40px;
}

.main-visual__badge li{
    display: inline-block;
    font-size:10px;
    padding:8px 20px;
    position: relative;
}

.main-visual__badge li::before{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}
.main-visual__badge li + li{
    margin-left: 30px;
}

/*----- nav -----*/

a.menu-trigger{
    cursor: pointer;
}

a.menu-trigger,
a.menu-trigger span {
display: inline-block;
box-sizing: border-box;
transition: all 0.4s;
}

a.menu-trigger {
    position: fixed;
    right: 40px;
    top: 40px;
    width: 60px;
    height: 40px;
    z-index: 600;
}

a.menu-trigger:hover {
    opacity: 1;
}

a.menu-trigger span {
    position: absolute;
    left: 0;
    width: 60px;
    height: 1px;
    background-color: #333;
}

a.menu-trigger span:nth-of-type(1) {
    top: 0;
}

a.menu-trigger span:nth-of-type(2) {
    top: 20px;
}

a.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
    transform: translateY(19px) rotate(-315deg);
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-19px) rotate(315deg);
}

#gNavi{
    display: none;
}

#gNavi.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.45s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#gNavi li{
    position: relative;
}

#gNavi li::before{
    content:'';
    position: absolute;
    left:-50px;
    top:-20px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}

#gNavi li a{
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1.2em;
}

#gNavi li + li{
    margin-top: 40%;
}

/*-------------------------------------------------------------
CONTENTS
-------------------------------------------------------------*/

/*----- work -----*/

#work{
    margin:100px 0 150px;
}

#work .container::before {
    content: '';
    position: absolute;
    top: 170px;
    right: 75px;
    width: 130px;
    height: 130px;
    display: block;
    background: url(../image/ico_book.png) no-repeat 0 0 / contain;
    z-index: -1;
}

.work__title{
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
}

.work__head{
    margin:100px 0 ;
    position: relative;
    padding:50px 0 0 70px;
}

.work__head p{
    font-size: 14px;
}

.work__head::before{
    content:'';
    position: absolute;
    left:0px;
    top:0;
    width: 15px;
    height: 15px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}

#work ul{
    flex-wrap: wrap;
}

#work li{
    width: 33.3%;
    height: 350px;
    background: #f5f5f5;
}

#work li > img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: opacity .3s;
}

#work li > img:hover{
    opacity: 0.7;
}

#work li .modal{
    display: none;
}

#work li .modal.show{
    cursor: pointer;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:40px 100px;
    background: rgba(255,255,255,0.85);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.45s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

#work li .modal.show img{
    width: auto;
    height: 100%;
}

/*----- about -----*/

#about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 0 150px;
    box-sizing: border-box;
    background: #f5f5f5;
    position: relative;
}

#about::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    display: block;
    height: 105px;
    background: #fff;
}

#about::after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100px;
    width: 210px;
    height: 105px;
    border-radius: 0 0 105px 105px;
    border: 2px solid #fff;
    border-top: none;
    transform: translateX(-50%);
}

.about__img{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    margin:0 auto 50px;
    overflow: hidden;
}

.about__head{
    margin-bottom: 100px;
    text-align: center;
}

.about__head p{
    line-height:3;
}

.about__title {
    position: relative;
    margin-bottom: 100px;
}

.about__title::before{
    content:'';
    width: 50px;
    height: 1px;
    background:#333;
    position: absolute;
    left:50%;
    bottom:-45px;
    transform: translateX(-50%);
}

.about__title small{
    font-size: 20px;
    margin-bottom: 40px;
    color:#dcdcdc;
    display: block;
    font-weight: normal;
}

.about__title span{
    font-size:25px;
    letter-spacing: 0.5em;
}

.about-status{
    max-width: 930px;
    margin:0 auto;
}

.about-status__title {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: normal;
}

.about-skill,
.about-tool{
    flex-basis: 45%;
}

.about-skill dl{
    display: flex;
    align-items: center;
}

.about-skill dl + dl{
    margin-top: 30px;
}

.about-skill dt{
    flex-basis: 25%;
    margin-right: 10px;
    font-size: 12px;
}

.about-skill dd{
    width: 75%;
    height: 20px;
    background:#fff;
    position: relative;
}

.about-skill dd::before{
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width: 100%;
    background:#d3d3d3;
}

.about-skill dd.about-skill__70::before{
    width: 70%;
}

.about-skill dd.about-skill__50::before{
    width: 50%;
}

.about-tool li{
    display: inline-block;
    position: relative;
    font-size: 12px;
    padding:10px 20px;
    margin: 0 20px 20px 0;
}

.about-tool li::before{
    content:'';
    position: absolute;
    left:0px;
    top:0px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}

/*-------------------------------------------------------------
FOOTER
-------------------------------------------------------------*/

#footer{
    padding:100px 0 0;
    background:#696969;
    text-align: center;
}

#contact li{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color:#fff;
    font-size: 16px;
    letter-spacing: 0.5em;
}

#contact .cta__txt::before{
    content: '';
    width: 1px;
    height: 50px;
    position: absolute;
    right: -70px;
    top: -15px;
    display: block;
    background: #919191;
}

#contact .cta__txt + .cta__mail{
    margin-left: 150px;
}

#contact .cta__mail + .cta__twitter{
    margin-left: 40px;
}

#contact .cta__twitter + .cta__instagram{
    margin-left: 20px;
}

#contact .cta__mail a{
    text-decoration: none;
    font-size:25px;
    font-weight: normal;
    color:#fff;
    letter-spacing: 0.2em;
}

#contact li img{
    height: 18px;
}

#copyright{
    margin-top: 100px;
    background:#333;
    color:#ccc;
    font-size: 13px;
    padding:20px 15px;
}

/*-------------------------------------------------------------
RESPONSIVE
-------------------------------------------------------------*/

.spOn{
    display: none!important;
}

/* Tablet side */
@media screen and (max-width: 1200px) {
    body {
        -webkit-text-size-adjust: 100%;
    }
}

/* Smartphone side + Tablet Vertical */
@media screen and (max-width: 828px) {

    .spOff{
        display: none!important;
    }
    .spOn{
        display: block!important;
    }

    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    #header {
        padding: 15px 0px 0 15px;
    }

    /* main-visual */

    .main-visual__image {
        width: 60%;
        height: 900px;
    }

    .main-visual__detail {
        width: 60%;
        left: auto;
        bottom: 140px;
        right: 20px;
        background: rgba(255,255,255,0.8);
        padding: 40px;
    }

    .main-visual__detail h1 {
        font-size: 53px;
        margin-bottom: 30px;
    }

    .main-visual__badge li + li {
        margin-left: 0;
    }

    .main-visual__badge {
        margin-bottom: 20px;
    }

    .main-visual__badge li::before {
        left: -5px;
        top: -5px;
    }

    .main-visual__badge li {
        padding: 5px 10px;
        margin-right: 15px;
    }

    /* header */

    #header .ico-arrow{
        width: 50px;
        height: 50px;
    }

    #header .ico-arrow span{
        height: 20px;
    }

    #header .ico-arrow::before {
        height: 10px;
        bottom: 16px;
        left: 20px;
    }

    #header .ico-arrow::after {
        height: 10px;
        bottom: 16px;
        right: 20px;
    }

    /* work */

    #work {
        margin: 70px 0 100px;
    }

    .work__head {
        margin: 0px 0 100px;
        padding: 40px 0 0 40px;
    }

    #work .container::before {
        right: 20px;
        width: 100px;
        height: 100px;
        top:140px;
    }

    .work__title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #work li {
        width: 50%;
    }

    #work li .modal.show{
        padding:30px;
    }

    #work li .modal.show img {
        width: 100%;
        height: auto;
    }

    /* about */

    #about{
        padding:0 0 70px;
    }

    .about__head{
        margin-bottom: 70px;
    }

    .about__title span{
        font-size: 20px;
    }

    .about__head p {
        line-height: 2.5;
        display: block;
        text-align: left;
    }

    /* footer */

    #footer{
        padding:50px 0 0;
    }

    #contact .cta__txt + .cta__mail {
        margin-left: 0;
    }

    #contact .cta__txt::before{
        display: none;
    }

    #contact li.cta__txt,
    #contact li.cta__mail{
        display: block;
        margin-bottom: 20px;
    }

    #contact .cta__mail + .cta__twitter {
        margin-left: 0;
    }

    #copyright{
        margin-top:50px;
    }
}

/* Smartphone Vertical */
@media screen and (max-width: 415px) {

    /* nav */

    a.menu-trigger{
        top:20px;
        right:20px;
        width: 30px;
        height: 20px;
    }

    a.menu-trigger span{
        width: 30px;
    }

    a.menu-trigger span:nth-of-type(2) {
        top: 10px;
    }

    .menu-trigger.active span:nth-of-type(1) {
        transform: translateY(9px) rotate(-315deg);
    }

    .menu-trigger.active span:nth-of-type(3) {
        transform: translateY(-9px) rotate(315deg);
    }

    #gNavi li a{
        font-size: 14px;
    }

    /* main-visual */

    .main-visual__image {
        width: 85%;
        height: 800px;
    }

    .main-visual__detail {
        width: auto;
        left: 45px;
        bottom: 100px;
        right: 20px;
        padding: 25px 0 0 25px;
    }

    .main-visual__detail p{
        line-height: 2;
    }

    .main-visual__detail h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .main-visual__badge li::before {
        left: -2px;
        top: -2px;
    }

    .main-visual__badge li {
        margin: 0 10px 5px 0;
    }

    /* about */

    .about-status{
        flex-direction: column;
    }

    .about-tool{
        margin-top: 70px;
    }

    /* work */

    #work .container::before {
        top: 170px;
    }

    #work li,
    #work li > img {
        height: 170px;
    }

}

/* Smartphone side */
@media screen and (max-height: 400px) {
    #work li .modal.show img {
        width: auto;
        height: 100%;
    }
}